.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 25px 0 50px;
  justify-content: space-around;
  align-content: flex-start;
}

img {
  position: relative;
  float: left;
  width:  200px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}